### Importing packages

In [19]:
import pandas as pd
import datetime as dt

### reading data and introductory cleaning

In [20]:
#reading the data into jobs dataframe
jobs=pd.read_csv('Uncleaned_DS_jobs.csv')

In [21]:
# an overview of the contents of the dataframe
jobs

,index,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,Competitors
0,0,Sr Data Scientist,$137K-$171K (Glassdoor est.),Description\n\nThe Senior Data Scientist is re...,3.1,Healthfirst\n3.1,"New York, NY","New York, NY",1001 to 5000 employees,1993,Nonprofit Organization,Insurance Carriers,Insurance,Unknown / Non-Applicable,"EmblemHealth, UnitedHealth Group, Aetna"
1,1,Data Scientist,$137K-$171K (Glassdoor est.),"Secure our Nation, Ignite your Future\n\nJoin ...",4.2,ManTech\n4.2,"Chantilly, VA","Herndon, VA",5001 to 10000 employees,1968,Company - Public,Research & Development,Business Services,$1 to $2 billion (USD),-1
2,2,Data Scientist,$137K-$171K (Glassdoor est.),Overview\n\n\nAnalysis Group is one of the lar...,3.8,Analysis Group\n3.8,"Boston, MA","Boston, MA",1001 to 5000 employees,1981,Private Practice / Firm,Consulting,Business Services,$100 to $500 million (USD),-1
3,3,Data Scientist,$137K-$171K (Glassdoor est.),JOB DESCRIPTION:\n\nDo you have a passion for ...,3.5,INFICON\n3.5,"Newton, MA","Bad Ragaz, Switzerland",501 to 1000 employees,2000,Company - Public,Electrical & Electronic Manufacturing,Manufacturing,$100 to $500 million (USD),"MKS Instruments, Pfeiffer Vacuum, Agilent Tech..."
4,4,Data Scientist,$137K-$171K (Glassdoor est.),Data Scientist\nAffinity Solutions / Marketing...,2.9,Affinity Solutions\n2.9,"New York, NY","New York, NY",51 to 200 employees,1998,Company - Private,Advertising & Marketing,Business Services,Unknown / Non-Applicable,"Commerce Signals, Cardlytics, Yodlee"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
667,667,Data Scientist,$105K-$167K (Glassdoor est.),Summary\n\nWe’re looking for a data scientist ...,3.6,TRANZACT\n3.6,"Fort Lee, NJ","Fort Lee, NJ",1001 to 5000 employees,1989,Company - Private,Advertising & Marketing,Business Services,Unknown / Non-Applicable,-1
668,668,Data Scientist,$105K-$167K (Glassdoor est.),Job Description\nBecome a thought leader withi...,-1.0,JKGT,"San Francisco, CA",-1,-1,-1,-1,-1,-1,-1,-1
669,669,Data Scientist,$105K-$167K (Glassdoor est.),Join a thriving company that is changing the w...,-1.0,AccessHope,"Irwindale, CA",-1,-1,-1,-1,-1,-1,-1,-1
670,670,Data Scientist,$105K-$167K (Glassdoor est.),100 Remote Opportunity As an AINLP Data Scient...,5.0,ChaTeck Incorporated\n5.0,"San Francisco, CA","Santa Clara, CA",1 to 50 employees,-1,Company - Private,Advertising & Marketing,Business Services,$1 to $5 million (USD),-1
671,671,Data Scientist,$105K-$167K (Glassdoor est.),Description\n\nThe Data Scientist will be part...,2.7,1-800-Flowers\n2.7,"New York, NY","Carle Place, NY",1001 to 5000 employees,1976,Company - Public,Wholesale,Business Services,$1 to $2 billion (USD),-1

In [22]:
# using the index column that comes with the Dataset comes as the dataframe index
jobs.set_index('index',inplace=True)
jobs

,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,Competitors
index,,,,,,,,,,,,,,
0,Sr Data Scientist,$137K-$171K (Glassdoor est.),Description\n\nThe Senior Data Scientist is re...,3.1,Healthfirst\n3.1,"New York, NY","New York, NY",1001 to 5000 employees,1993,Nonprofit Organization,Insurance Carriers,Insurance,Unknown / Non-Applicable,"EmblemHealth, UnitedHealth Group, Aetna"
1,Data Scientist,$137K-$171K (Glassdoor est.),"Secure our Nation, Ignite your Future\n\nJoin ...",4.2,ManTech\n4.2,"Chantilly, VA","Herndon, VA",5001 to 10000 employees,1968,Company - Public,Research & Development,Business Services,$1 to $2 billion (USD),-1
2,Data Scientist,$137K-$171K (Glassdoor est.),Overview\n\n\nAnalysis Group is one of the lar...,3.8,Analysis Group\n3.8,"Boston, MA","Boston, MA",1001 to 5000 employees,1981,Private Practice / Firm,Consulting,Business Services,$100 to $500 million (USD),-1
3,Data Scientist,$137K-$171K (Glassdoor est.),JOB DESCRIPTION:\n\nDo you have a passion for ...,3.5,INFICON\n3.5,"Newton, MA","Bad Ragaz, Switzerland",501 to 1000 employees,2000,Company - Public,Electrical & Electronic Manufacturing,Manufacturing,$100 to $500 million (USD),"MKS Instruments, Pfeiffer Vacuum, Agilent Tech..."
4,Data Scientist,$137K-$171K (Glassdoor est.),Data Scientist\nAffinity Solutions / Marketing...,2.9,Affinity Solutions\n2.9,"New York, NY","New York, NY",51 to 200 employees,1998,Company - Private,Advertising & Marketing,Business Services,Unknown / Non-Applicable,"Commerce Signals, Cardlytics, Yodlee"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
667,Data Scientist,$105K-$167K (Glassdoor est.),Summary\n\nWe’re looking for a data scientist ...,3.6,TRANZACT\n3.6,"Fort Lee, NJ","Fort Lee, NJ",1001 to 5000 employees,1989,Company - Private,Advertising & Marketing,Business Services,Unknown / Non-Applicable,-1
668,Data Scientist,$105K-$167K (Glassdoor est.),Job Description\nBecome a thought leader withi...,-1.0,JKGT,"San Francisco, CA",-1,-1,-1,-1,-1,-1,-1,-1
669,Data Scientist,$105K-$167K (Glassdoor est.),Join a thriving company that is changing the w...,-1.0,AccessHope,"Irwindale, CA",-1,-1,-1,-1,-1,-1,-1,-1
670,Data Scientist,$105K-$167K (Glassdoor est.),100 Remote Opportunity As an AINLP Data Scient...,5.0,ChaTeck Incorporated\n5.0,"San Francisco, CA","Santa Clara, CA",1 to 50 employees,-1,Company - Private,Advertising & Marketing,Business Services,$1 to $5 million (USD),-1
671,Data Scientist,$105K-$167K (Glassdoor est.),Description\n\nThe Data Scientist will be part...,2.7,1-800-Flowers\n2.7,"New York, NY","Carle Place, NY",1001 to 5000 employees,1976,Company - Public,Wholesale,Business Services,$1 to $2 billion (USD),-1

### Working on the Job Title

In [23]:
# checking the various representation of seniority in the the job title by visualising the unique representations of job title
jobs['Job Title'].unique()

array(['Sr Data Scientist', 'Data Scientist',
       'Data Scientist / Machine Learning Expert',
       'Staff Data Scientist - Analytics',
       'Data Scientist - Statistics, Early Career', 'Data Modeler',
       'Experienced Data Scientist', 'Data Scientist - Contract',
       'Data Analyst II', 'Medical Lab Scientist',
       'Data Scientist/Machine Learning', 'Human Factors Scientist',
       'Business Intelligence Analyst I- Data Insights',
       'Data Scientist - Risk', 'Data Scientist-Human Resources',
       'Senior Research Statistician- Data Scientist', 'Data Engineer',
       'Associate Data Scientist', 'Business Intelligence Analyst',
       'Senior Analyst/Data Scientist', 'Data Analyst',
       'Machine Learning Engineer', 'Data Analyst I',
       'Scientist - Molecular Biology',
       'Computational Scientist, Machine Learning',
       'Senior Data Scientist', 'Jr. Data Engineer',
       'E-Commerce Data Analyst', 'Data Analytics Engineer',
       'Product Data Scientist - Ads Data Science',
       'Data Scientist - Intermediate', 'Global Data Analyst',
       'Data & Machine Learning Scientist',
       'Data Scientist - Machine Learning', 'Data Engineer (Remote)',
       'Data Scientist, Applied Machine Learning - Bay Area',
       'Principal Data Scientist', 'Business Data Analyst',
       'Purification Scientist', 'Data Engineer, Enterprise Analytics',
       'Data Scientist 3 (718)', 'Real World Science, Data Scientist',
       'Data Scientist - Image and Video Analytics',
       'Data Science Manager, Payment Acceptance - USA',
       'Data Scientist / Applied Mathematician',
       'Patient Safety- Associate Data Scientist',
       '(Sr.) Data Scientist -', 'Data Scientist, Kinship - NYC/Portland',
       'Applied Technology Researcher / Data Scientist',
       'Health Data Scientist - Biomedical/Biostats',
       'Staff Data Scientist', 'Sr Data Engineer (Sr BI Developer)',
       'Lead Data Scientist', 'RFP Data Analyst',
       'Data Scientist (TS/SCI)', 'Software Engineer - Data Science',
       'Data Analyst/Engineer', 'NGS Scientist', 'Senior Data Engineer',
       'Sr. ML/Data Scientist - AI/NLP/Chatbot',
       'Data Integration and Modeling Engineer',
       'Tableau Data Engineer 20-0117', 'AI Data Scientist',
       'Research Scientist Patient Preferences (Remote)',
       'Scientist - Biomarker and Flow Cytometry', 'Analytics Manager',
       'Staff Scientist- Upstream PD',
       'Sr Scientist - Extractables & Leachables',
       'ELISA RESEARCH SCIENTIST (CV-15)', 'Say Business Data Analyst',
       'Geospatial Data Scientist', 'Computational Scientist',
       'Senior Data Analyst', 'Sr Data Analyst',
       'Machine Learning Scientist - Bay Area, CA',
       'Senior Data Scientist - Algorithms',
       'Senior Data & Machine Learning Scientist',
       'Research Scientist - Patient-Centered Research (Remote)',
       'Jr. Business Data Analyst (position added 6/12/2020)',
       'Sr. Data Scientist II',
       'Production Engineer - Statistics/Data Analysis',
       'Statistical Scientist', 'Computational Behavioral Scientist',
       'Principal Data Scientist - Machine Learning',
       'Principal Machine Learning Scientist',
       'Senior Data Scientist - R&D Oncology',
       'Health Plan Data Analyst, Sr',
       'Principal Scientist/Associate Director, Quality Control and Analytical Technologies',
       'Analytics - Business Assurance Data Analyst',
       'Senior Data Scientist – Image Analytics, Novartis AI Innovation Lab',
       'Data Science Instructor', 'Senior Business Intelligence Analyst',
       'In-Line Inspection Data Analyst',
       'Data Scientist - TS/SCI FSP or CI Required',
       'Data Scientist - TS/SCI Required',
       'Data Science Software Engineer',
       'ENGINEER - COMPUTER SCIENTIST - RESEARCH COMPUTER SCIENTIST - SIGNAL PROCESSING - SAN ANTONIO OR',
       'AI Ops Data Scientist', 'Intelligence Data Analyst, Senior',
       'Analytics Manager - Data Mart',
       'Data Modeler (Analytical Systems)',
       'Senior Machine Learning Scientist - Bay Area, CA',
       'Report Writer-Data Analyst', 'Staff Data Scientist - Pricing',
       'Equity Data Insights Analyst - Quantitative Analyst',
       'Operations Data Analyst', 'Software Data Engineer',
       'Real World Evidence (RWE) Scientist', 'Computer Scientist 1',
       'Environmental Data Science', 'Staff BI and Data Engineer',
       'Data Scientist - Statistics, Mid-Career',
       'Director of Data Science',
       'Data Engineer, Digital & Comp Pathology',
       'Manager / Lead, Data Science & Analytics',
       'Diversity and Inclusion Data Analyst',
       'Data Scientist Machine Learning', 'Chief Scientist',
       'Development Scientist, Voltaren',
       'Principal Data & Analytics Platform Engineer',
       'Machine Learning Engineer/Scientist',
       'Data Analyst - Unilever Prestige', 'VP, Data Science',
       'Data Engineer - Kafka', 'Decision Scientist',
       'Data Science All Star Program - Data Engineer Track',
       'Scientist - Machine Learning', 'Sr. Data Scientist',
       'Applied AI Scientist / Engineer',
       'Data Engineer (Analytics, SQL, Python, AWS)',
       'Senior Data Analyst - Finance & Platform Analytics',
       'Market Research Data Scientist',
       'IT Partner Digital Health Technology and Data Science',
       'Software Engineer (Data Scientist, C,C++,Linux,Unix) - SISW - MG',
       'Senior Clinical Data Scientist Programmer',
       'Computer Vision / Deep Learning Scientist',
       'Data Solutions Engineer - Data Modeler',
       'Data Scientist (TS/SCI w/ Poly)',
       'Weapons and Sensors Engineer/Scientist',
       'Applied Computer Scientist', 'Cloud Data Engineer (Azure)',
       'Lead Certified Clinical Laboratory Scientist - Saturday - Tuesday, 8:00pm - 6:30am shift',
       'Sr. Data Analyst',
       'Senior Scientist - Toxicologist - Product Integrity (Stewardship)',
       'Senior Machine Learning Engineer',
       'Data Scientist- Industrial Discrete Sector Industry',
       'Senior Principal Data Scientist (Python/R)',
       'Data Scientist(s)/Machine Learning Engineer',
       'Scientist / Group Lead, Cancer Biology',
       'Manager, Field Application Scientist, Southeast',
       'COMPUTER SCIENTIST - ENGINEER - RESEARCH COMPUTER SCIENTIST - SIGNAL PROCESSING',
       'Machine Learning Scientist / Engineer', 'Data Science Analyst',
       'COMPUTER SCIENTIST - ENGINEER - RESEARCH COMPUTER SCIENTIST - TRANSPORTATION TECHNOLOGY',
       'Software Engineer - Machine Learning & Data Science (Applied Intelligence Services Team)',
       'Clinical Data Analyst', 'Data Scientist Technical Specialist',
       'Data Science Manager', 'Big Data Engineer', 'Data Architect',
       'Aviation AI/ML Data Scientist', 'Machine Learning Engineer, Sr.',
       'Information Systems Engineering Specialist (Engineering Scientist)',
       'Scientist/Research Associate-Metabolic Engineering',
       'Vice President, Biometrics and Clinical Data Management',
       'Enterprise Data Analyst (Enterprise Portfolio Management Office)',
       'Lead Data Scientist – Network Analysis and Control',
       'Sr. Research Associate/ Scientist, NGS prep & Molecular Genomics',
       'Developer III - Data Science',
       'Hydrogen/Tritium Materials Scientist (Experienced)',
       'Data Scientist/Data Analytics Practitioner',
       'AI/ML - Machine Learning Scientist, Siri Understanding'],
      dtype=object)

In [24]:
# Creating a seniority column
jobs['Seniority']=jobs['Job Title'].str.contains('Sr.|Senior|Sr')

In [28]:
# Checking visually if there's any title with a seniority requirement that was missed
jobs[~jobs['Seniority']]['Job Title'].unique()

array(['Data Scientist', 'Data Scientist / Machine Learning Expert',
       'Staff Data Scientist - Analytics',
       'Data Scientist - Statistics, Early Career', 'Data Modeler',
       'Experienced Data Scientist', 'Data Scientist - Contract',
       'Data Analyst II', 'Medical Lab Scientist',
       'Data Scientist/Machine Learning', 'Human Factors Scientist',
       'Business Intelligence Analyst I- Data Insights',
       'Data Scientist - Risk', 'Data Scientist-Human Resources',
       'Data Engineer', 'Associate Data Scientist',
       'Business Intelligence Analyst', 'Data Analyst',
       'Machine Learning Engineer', 'Data Analyst I',
       'Scientist - Molecular Biology',
       'Computational Scientist, Machine Learning', 'Jr. Data Engineer',
       'E-Commerce Data Analyst', 'Data Analytics Engineer',
       'Product Data Scientist - Ads Data Science',
       'Data Scientist - Intermediate', 'Global Data Analyst',
       'Data & Machine Learning Scientist',
       'Data Scientist - Machine Learning', 'Data Engineer (Remote)',
       'Data Scientist, Applied Machine Learning - Bay Area',
       'Principal Data Scientist', 'Business Data Analyst',
       'Purification Scientist', 'Data Engineer, Enterprise Analytics',
       'Data Scientist 3 (718)', 'Real World Science, Data Scientist',
       'Data Scientist - Image and Video Analytics',
       'Data Science Manager, Payment Acceptance - USA',
       'Data Scientist / Applied Mathematician',
       'Patient Safety- Associate Data Scientist',
       'Data Scientist, Kinship - NYC/Portland',
       'Applied Technology Researcher / Data Scientist',
       'Health Data Scientist - Biomedical/Biostats',
       'Staff Data Scientist', 'Lead Data Scientist', 'RFP Data Analyst',
       'Data Scientist (TS/SCI)', 'Software Engineer - Data Science',
       'Data Analyst/Engineer', 'NGS Scientist',
       'Data Integration and Modeling Engineer',
       'Tableau Data Engineer 20-0117', 'AI Data Scientist',
       'Research Scientist Patient Preferences (Remote)',
       'Scientist - Biomarker and Flow Cytometry', 'Analytics Manager',
       'Staff Scientist- Upstream PD', 'ELISA RESEARCH SCIENTIST (CV-15)',
       'Say Business Data Analyst', 'Geospatial Data Scientist',
       'Computational Scientist',
       'Machine Learning Scientist - Bay Area, CA',
       'Research Scientist - Patient-Centered Research (Remote)',
       'Jr. Business Data Analyst (position added 6/12/2020)',
       'Production Engineer - Statistics/Data Analysis',
       'Statistical Scientist', 'Computational Behavioral Scientist',
       'Principal Data Scientist - Machine Learning',
       'Principal Machine Learning Scientist',
       'Principal Scientist/Associate Director, Quality Control and Analytical Technologies',
       'Analytics - Business Assurance Data Analyst',
       'Data Science Instructor', 'In-Line Inspection Data Analyst',
       'Data Scientist - TS/SCI FSP or CI Required',
       'Data Scientist - TS/SCI Required',
       'Data Science Software Engineer',
       'ENGINEER - COMPUTER SCIENTIST - RESEARCH COMPUTER SCIENTIST - SIGNAL PROCESSING - SAN ANTONIO OR',
       'AI Ops Data Scientist', 'Analytics Manager - Data Mart',
       'Data Modeler (Analytical Systems)', 'Report Writer-Data Analyst',
       'Staff Data Scientist - Pricing',
       'Equity Data Insights Analyst - Quantitative Analyst',
       'Operations Data Analyst', 'Software Data Engineer',
       'Real World Evidence (RWE) Scientist', 'Computer Scientist 1',
       'Environmental Data Science', 'Staff BI and Data Engineer',
       'Data Scientist - Statistics, Mid-Career',
       'Director of Data Science',
       'Data Engineer, Digital & Comp Pathology',
       'Manager / Lead, Data Science & Analytics',
       'Diversity and Inclusion Data Analyst',
       'Data Scientist Machine Learning', 'Chief Scientist',
       'Development Scientist, Voltaren',
       'Principal Data & Analytics Platform Engineer',
       'Machine Learning Engineer/Scientist',
       'Data Analyst - Unilever Prestige', 'VP, Data Science',
       'Data Engineer - Kafka', 'Decision Scientist',
       'Data Science All Star Program - Data Engineer Track',
       'Scientist - Machine Learning', 'Applied AI Scientist / Engineer',
       'Data Engineer (Analytics, SQL, Python, AWS)',
       'Market Research Data Scientist',
       'IT Partner Digital Health Technology and Data Science',
       'Software Engineer (Data Scientist, C,C++,Linux,Unix) - SISW - MG',
       'Computer Vision / Deep Learning Scientist',
       'Data Solutions Engineer - Data Modeler',
       'Data Scientist (TS/SCI w/ Poly)',
       'Weapons and Sensors Engineer/Scientist',
       'Applied Computer Scientist', 'Cloud Data Engineer (Azure)',
       'Lead Certified Clinical Laboratory Scientist - Saturday - Tuesday, 8:00pm - 6:30am shift',
       'Data Scientist- Industrial Discrete Sector Industry',
       'Data Scientist(s)/Machine Learning Engineer',
       'Scientist / Group Lead, Cancer Biology',
       'Manager, Field Application Scientist, Southeast',
       'COMPUTER SCIENTIST - ENGINEER - RESEARCH COMPUTER SCIENTIST - SIGNAL PROCESSING',
       'Machine Learning Scientist / Engineer', 'Data Science Analyst',
       'COMPUTER SCIENTIST - ENGINEER - RESEARCH COMPUTER SCIENTIST - TRANSPORTATION TECHNOLOGY',
       'Software Engineer - Machine Learning & Data Science (Applied Intelligence Services Team)',
       'Clinical Data Analyst', 'Data Scientist Technical Specialist',
       'Data Science Manager', 'Big Data Engineer', 'Data Architect',
       'Aviation AI/ML Data Scientist',
       'Information Systems Engineering Specialist (Engineering Scientist)',
       'Scientist/Research Associate-Metabolic Engineering',
       'Vice President, Biometrics and Clinical Data Management',
       'Enterprise Data Analyst (Enterprise Portfolio Management Office)',
       'Lead Data Scientist – Network Analysis and Control',
       'Developer III - Data Science',
       'Hydrogen/Tritium Materials Scientist (Experienced)',
       'Data Scientist/Data Analytics Practitioner',
       'AI/ML - Machine Learning Scientist, Siri Understanding'],
      dtype=object)

### Working on Salary Estimate

In [7]:
# since all salary estimates contain (Glassdor est.), it will be removed and placed in heading
jobs[['Salary Estimate','Salary Source']]=jobs['Salary Estimate'].str.split('(',expand=True)

# Cleaning the Salary Estimate column of the unwanted ')'
jobs['Salary Source']=jobs['Salary Source'].str.strip(')')

jobs['Glassdoor Salary Estimate'].unique()

array(['$137K-$171K', '$75K-$131K', '$79K-$131K', '$99K-$132K',
       '$90K-$109K', '$101K-$165K', '$56K-$97K', '$79K-$106K',
       '$71K-$123K', '$90K-$124K', '$91K-$150K', '$141K-$225K',
       '$145K-$225K(Employ', '$79K-$147K', '$122K-$146K', '$112K-$116K',
       '$110K-$163K', '$124K-$198K', '$79K-$133K', '$69K-$116K',
       '$31K-$56K', '$95K-$119K', '$212K-$331K', '$66K-$112K',
       '$128K-$201K', '$138K-$158K', '$80K-$132K', '$87K-$141K',
       '$92K-$155K', '$105K-$167K'], dtype=object)

In [8]:
#removing the additional (Employ present in one of the salary estimate entry
jobs['Glassdoor Salary Estimate']=jobs['Glassdoor Salary Estimate'].str.strip('(Employ')

In [9]:
#changing category of of Glassdoor Salary Estimate
jobs['Glassdoor Salary Estimate'].astype('category')

index
0      $137K-$171K
1      $137K-$171K
2      $137K-$171K
3      $137K-$171K
4      $137K-$171K
          ...
667    $105K-$167K
668    $105K-$167K
669    $105K-$167K
670    $105K-$167K
671    $105K-$167K
Name: Glassdoor Salary Estimate, Length: 672, dtype: category
Categories (30, object): ['$101K-$165K', '$105K-$167K', '$110K-$163K', '$112K-$116K', ..., '$91K-$150K', '$92K-$155K', '$95K-$119K', '$99K-$132K']

In [10]:
# splitting salary estimate column into minimum and maximum salary
jobs[['min salary','max salary']]=jobs['Glassdoor Salary Estimate'].str.split('-',expand=True)

#converting the min and max salary to integers
jobs['min salary']=jobs['min salary'].str.replace('$','').str.replace('K','').astype('int')
jobs['max salary']=jobs['max salary'].str.replace('$','').str.replace('K','').astype('int')

C:\Users\Isaac Femi\AppData\Local\Temp\ipykernel_6544\1584403068.py:5: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  jobs['min salary']=jobs['min salary'].str.replace('$','').str.replace('K','').astype('int')
C:\Users\Isaac Femi\AppData\Local\Temp\ipykernel_6544\1584403068.py:6: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  jobs['max salary']=jobs['max salary'].str.replace('$','').str.replace('K','').astype('int')

In [11]:
# creating the average salary column
jobs['average salary']=(jobs['min salary']+jobs['max salary'])/2

In [12]:
# adding the dollar sign and K to the average salary, minimum salary and maximum salary
columns_to_edit=['average salary','min salary','max salary']
for i in columns_to_edit:
    jobs[i]='$'+ jobs[i].astype('str') + 'K'

In [13]:
jobs.head(20)

,Job Title,Glassdoor Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,Competitors,Seniority,min salary,max salary,average salary
index,,,,,,,,,,,,,,,,,,
0,Sr Data Scientist,$137K-$171K,Description\n\nThe Senior Data Scientist is re...,3.1,Healthfirst\n3.1,"New York, NY","New York, NY",1001 to 5000 employees,1993,Nonprofit Organization,Insurance Carriers,Insurance,Unknown / Non-Applicable,"EmblemHealth, UnitedHealth Group, Aetna",True,$137K,$171K,$154.0K
1,Data Scientist,$137K-$171K,"Secure our Nation, Ignite your Future\n\nJoin ...",4.2,ManTech\n4.2,"Chantilly, VA","Herndon, VA",5001 to 10000 employees,1968,Company - Public,Research & Development,Business Services,$1 to $2 billion (USD),-1,False,$137K,$171K,$154.0K
2,Data Scientist,$137K-$171K,Overview\n\n\nAnalysis Group is one of the lar...,3.8,Analysis Group\n3.8,"Boston, MA","Boston, MA",1001 to 5000 employees,1981,Private Practice / Firm,Consulting,Business Services,$100 to $500 million (USD),-1,False,$137K,$171K,$154.0K
3,Data Scientist,$137K-$171K,JOB DESCRIPTION:\n\nDo you have a passion for ...,3.5,INFICON\n3.5,"Newton, MA","Bad Ragaz, Switzerland",501 to 1000 employees,2000,Company - Public,Electrical & Electronic Manufacturing,Manufacturing,$100 to $500 million (USD),"MKS Instruments, Pfeiffer Vacuum, Agilent Tech...",False,$137K,$171K,$154.0K
4,Data Scientist,$137K-$171K,Data Scientist\nAffinity Solutions / Marketing...,2.9,Affinity Solutions\n2.9,"New York, NY","New York, NY",51 to 200 employees,1998,Company - Private,Advertising & Marketing,Business Services,Unknown / Non-Applicable,"Commerce Signals, Cardlytics, Yodlee",False,$137K,$171K,$154.0K
5,Data Scientist,$137K-$171K,About Us:\n\nHeadquartered in beautiful Santa ...,4.2,HG Insights\n4.2,"Santa Barbara, CA","Santa Barbara, CA",51 to 200 employees,2010,Company - Private,Computer Hardware & Software,Information Technology,Unknown / Non-Applicable,-1,False,$137K,$171K,$154.0K
6,Data Scientist / Machine Learning Expert,$137K-$171K,Posting Title\nData Scientist / Machine Learni...,3.9,Novartis\n3.9,"Cambridge, MA","Basel, Switzerland",10000+ employees,1996,Company - Public,Biotech & Pharmaceuticals,Biotech & Pharmaceuticals,$10+ billion (USD),-1,False,$137K,$171K,$154.0K
7,Data Scientist,$137K-$171K,Introduction\n\nHave you always wanted to run ...,3.5,iRobot\n3.5,"Bedford, MA","Bedford, MA",1001 to 5000 employees,1990,Company - Public,Consumer Electronics & Appliances Stores,Retail,$1 to $2 billion (USD),-1,False,$137K,$171K,$154.0K
8,Staff Data Scientist - Analytics,$137K-$171K,Intuit is seeking a Staff Data Scientist to co...,4.4,Intuit - Data\n4.4,"San Diego, CA","Mountain View, CA",5001 to 10000 employees,1983,Company - Public,Computer Hardware & Software,Information Technology,$2 to $5 billion (USD),"Square, PayPal, H&R Block",False,$137K,$171K,$154.0K
9,Data Scientist,$137K-$171K,Ready to write the best chapter of your career...,3.6,XSELL Technologies\n3.6,"Chicago, IL","Chicago, IL",51 to 200 employees,2014,Company - Private,Enterprise Software & Network Solutions,Information Technology,Unknown / Non-Applicable,-1,False,$137K,$171K,$154.0K
10,Data Scientist,$137K-$171K,Join our team dedicated to developing and exec...,4.5,Novetta\n4.5,"Herndon, VA","Mc Lean, VA",501 to 1000 employees,2012,Company - Private,Enterprise Software & Network Solutions,Information Technology,$100 to $500 million (USD),"Leidos, CACI International, Booz Allen Hamilton",False,$137K,$171K,$154.0K
11,Data Scientist,$137K-$171K,About Us\n\n\nInterested in working for a huma...,4.7,1904labs\n4.7,"Saint Louis, MO","Saint Louis, MO",51 to 200 employees,2016,Company - Private,IT Services,Information Technology,Unknown / Non-Applicable,"Slalom, Daugherty Business Solutions",False,$137K,$171K,$154.0K
12,"Data Scientist - Statistics, Early Career",$137K-$171K,*Organization and Job ID**\nJob ID: 310918\n\n...,3.7,PNNL\n3.7,"Richland, WA","Richland, WA",1001 to 5000 employees,1965,Government,Energy,"Oil, Gas, Energy & Utilities",$500 million to $1 billion (USD),"Oak Ridge National Laboratory, National Renewa...",False,$137K,$171K,$154.0K
13,Data Modeler,$137K-$171K,POSITION PURPOSE:\n\nThe Data Architect/Data M...,3.1,Old World Industries\n3.1,"Northbrook, IL","Northbrook, IL",201 to 500 employees,1973,Company - Private,Chemical Manufacturing,Manufacturing,$1 to $2 billion (USD),-1,False,$137K,$171K,$154.0K
14,Data Scientist,$137K-$171K,Position Description:\n\nWant to make a differ...,3.4,Mathematica Policy Research\n3.4,"Washington, DC","Princeton, NJ",1001 to 5000 employees,1986,Company - Private,Consulting,Business Services,$100 to $500 million (USD),-1,False,$137K,$171K,$154.0K
15,Experienced Data Scientist,$137K-$171K,*******Please Apply using this link: https://a...,4.4,Guzman & Griffin Technologies (GGTI)\n4.4,"Washington, DC","Mays Landing, NJ",1 to 50 employees,1997,Company - Private,Federal Agencies,Government,Unknown / Non-Applicable,-1,False,$137K,$171K,$154.0K
16,Data Scientist - Contract,$137K-$171K,"We are an ambitious, well-funded startup with ...",4.1,Upside Business Travel\n4.1,Remote,"Washington, DC",51 to 200 employees,2015,Company - Private,Internet,Information Technology,Unknown / Non-Applicable,-1,False,$137K,$171K,$154.0K
17,Data Scientist,$137K-$171K,Job Success Profile\n\nData Scientist\n\nBuckm...,3.5,Buckman\n3.5,"Memphis, TN","Memphis, TN",1001 to 5000 employees,1945,Company - Private,Chemical Manufacturing,Manufacturing,$500 million to $1 billion (USD),-1,False,$137K,$171K,$154.0K
18,Data Analyst II,$137K-$171K,The Data Analyst II is responsible for data en...,4.2,"Insight Enterprises, Inc.\n4.2","Plano, TX","Tempe, AZ",5001 to 10000 employees,1988,Company - Public,Enterprise Software & Network Solutions,Information Technology,$5 to $10 billion (USD),"CDW, PCM, SHI International",False,$137K,$171K,$154.0K
19,Medical Lab Scientist,$137K-$171K,Responsibilities\n\n\nThe Medical Laboratory S...,3.5,Tower Health\n3.5,"West Grove, PA","Reading, PA",5001 to 10000 employees,2017,Nonprofit Organization,Health Care Services & Hospitals,Health Care,Unknown / Non-Applicable,-1,False,$137K,$171K,$154.0K

### Working on Job description Column

In [14]:
# removing the unwanted values in the column
jobs['Job Description']=jobs['Job Description'].str.replace('\n',' ')

### Working on the Rating Column

In [15]:
jobs['Rating'].unique()

array([ 3.1,  4.2,  3.8,  3.5,  2.9,  3.9,  4.4,  3.6,  4.5,  4.7,  3.7,
        3.4,  4.1,  3.2,  4.3,  2.8,  5. ,  4.8,  3.3,  2.7,  2.2,  2.6,
        4. ,  2.5,  4.9,  2.4, -1. ,  2.3,  4.6,  3. ,  2.1,  2. ])

In [16]:
# Unique values of rating shows a rating that is out of range (-1)
rating_out_of_range=jobs[jobs['Rating']==-1]
rating_out_of_range

,Job Title,Glassdoor Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,Competitors,Seniority,min salary,max salary,average salary
index,,,,,,,,,,,,,,,,,,
154,ELISA RESEARCH SCIENTIST (CV-15),$90K-$109K,"Covaxx, a subsidiary of the UBI Group, has joi...",-1.0,Covid-19 Search Partners,"Hauppauge, NY",-1,-1,-1,-1,-1,-1,-1,-1,False,$90K,$109K,$99.5K
158,Machine Learning Engineer,$101K-$165K,Overview Radical Convergence is a fast-paced ...,-1.0,Radical Convergence,"Reston, VA",-1,-1,-1,-1,-1,-1,-1,-1,False,$101K,$165K,$133.0K
230,Data Scientist,$71K-$123K,Senior Data Scientist Active Secret clearance ...,-1.0,"Encode, Inc.","Norfolk, VA","Manalapan, NJ",1 to 50 employees,-1,Company - Private,IT Services,Information Technology,$5 to $10 million (USD),-1,False,$71K,$123K,$97.0K
282,Data Scientist,$91K-$150K,Greetings from Trovetechs!!! Â We have an im...,-1.0,Trovetechs Inc,"San Francisco, CA","Hillsborough, NJ",Unknown,-1,Company - Private,-1,-1,Unknown / Non-Applicable,-1,False,$91K,$150K,$120.5K
285,Data Scientist,$141K-$225K,Greetings from Trovetechs!!! Â We have an im...,-1.0,Trovetechs Inc,"San Francisco, CA","Hillsborough, NJ",Unknown,-1,Company - Private,-1,-1,Unknown / Non-Applicable,-1,False,$141K,$225K,$183.0K
290,Data Scientist,$141K-$225K,Work Authorization Those authorized to work in...,-1.0,PETADATA,"San Francisco, CA","Fremont, CA",51 to 200 employees,-1,Company - Private,-1,-1,Unknown / Non-Applicable,-1,False,$141K,$225K,$183.0K
319,Data Scientist,$145K-$225K,"Job Description Selecting features, building a...",-1.0,Microagility,"New York, NY","Princeton, NJ",1 to 50 employees,-1,Company - Private,Consulting,Business Services,$1 to $5 million (USD),-1,False,$145K,$225K,$185.0K
322,Data Scientist,$145K-$225K,Job Description Data Scientist Are you interes...,-1.0,"Rainmaker Resources, LLC","Cincinnati, OH","Cincinnati, OH",1 to 50 employees,-1,Company - Private,-1,-1,Unknown / Non-Applicable,-1,False,$145K,$225K,$185.0K
329,Data Scientist,$79K-$147K,Description: Position Requires a Top Secret (...,-1.0,B4Corp,"Reston, VA","Leesburg, VA",51 to 200 employees,-1,Company - Private,IT Services,Information Technology,Unknown / Non-Applicable,-1,False,$79K,$147K,$113.0K
338,Data Scientist,$79K-$147K,Work in a fast growing startup with unlimited ...,-1.0,Stride Search,"San Francisco, CA","Westlake Village, CA",1 to 50 employees,-1,Company - Private,-1,-1,Less than $1 million (USD),-1,False,$79K,$147K,$113.0K
351,Data Scientist,$122K-$146K,About Our AI/ML Team Our mission is to build ...,-1.0,Point72 Ventures,"Palo Alto, CA",-1,-1,-1,-1,-1,-1,-1,-1,False,$122K,$146K,$134.0K
357,Data Scientist,$122K-$146K,Job Overview: The Data Scientist is a key memb...,-1.0,Hatch Data Inc,"San Francisco, CA",-1,-1,-1,-1,-1,-1,-1,-1,False,$122K,$146K,$134.0K
358,Data Scientist,$122K-$146K,Job Overview: The Data Scientist is a key memb...,-1.0,Hatch Data Inc,"San Francisco, CA",-1,-1,-1,-1,-1,-1,-1,-1,False,$122K,$146K,$134.0K
359,Data Scientist,$122K-$146K,Job Overview: The Data Scientist is a key memb...,-1.0,Hatch Data Inc,"San Francisco, CA",-1,-1,-1,-1,-1,-1,-1,-1,False,$122K,$146K,$134.0K
360,Data Scientist,$122K-$146K,Job Overview: The Data Scientist is a key memb...,-1.0,Hatch Data Inc,"San Francisco, CA",-1,-1,-1,-1,-1,-1,-1,-1,False,$122K,$146K,$134.0K
361,Data Scientist,$122K-$146K,Job Overview: The Data Scientist is a key memb...,-1.0,Hatch Data Inc,"San Francisco, CA",-1,-1,-1,-1,-1,-1,-1,-1,False,$122K,$146K,$134.0K
362,Data Scientist,$122K-$146K,Job Overview: The Data Scientist is a key memb...,-1.0,Hatch Data Inc,"San Francisco, CA",-1,-1,-1,-1,-1,-1,-1,-1,False,$122K,$146K,$134.0K
388,Data Scientist,$110K-$163K,"Job Description As a Data Scientist, you will ...",-1.0,HireAi,"San Francisco, CA",-1,-1,-1,-1,-1,-1,-1,-1,False,$110K,$163K,$136.5K
389,Data Scientist,$110K-$163K,"Job Description As a Data Scientist, you will ...",-1.0,HireAi,"San Francisco, CA",-1,-1,-1,-1,-1,-1,-1,-1,False,$110K,$163K,$136.5K
409,Data Scientist,$124K-$198K,About Navio: Navio builds software tools that ...,-1.0,Navio,"San Mateo, CA","Half Moon Bay, CA",Unknown,-1,Unknown,-1,-1,Unknown / Non-Applicable,-1,False,$124K,$198K,$161.0K
411,Data Scientist,$124K-$198K,Our entertainment company is seeking a Data Sc...,-1.0,Evolvinc,"Burbank, CA","Los Angeles, CA",1 to 50 employees,2005,Company - Private,IT Services,Information Technology,Unknown / Non-Applicable,-1,False,$124K,$198K,$161.0K
425,Data Scientist,$124K-$198K,"Job Description Selecting features, building a...",-1.0,Microagility,"New York, NY","Princeton, NJ",1 to 50 employees,-1,Company - Private,Consulting,Business Services,$1 to $5 million (USD),-1,False,$124K,$198K,$161.0K
430,Data Scientist,$79K-$133K,Job Description Falcon It is seeking a Data Sc...,-1.0,Falcon IT & Staffing Solutions,"Fort Belvoir, VA","Washington, DC",Unknown,-1,Company - Public,-1,-1,Unknown / Non-Applicable,-1,False,$79K,$133K,$106.0K
431,Data Scientist,$79K-$133K,Job Description Data Scientist Are you interes...,-1.0,"Rainmaker Resources, LLC","Cincinnati, OH","Cincinnati, OH",1 to 50 employees,-1,Company - Private,-1,-1,Unknown / Non-Applicable,-1,False,$79K,$133K,$106.0K
437,Data Scientist,$79K-$133K,Description: Position Requires a Top Secret (...,-1.0,B4Corp,"Reston, VA","Leesburg, VA",51 to 200 employees,-1,Company - Private,IT Services,Information Technology,Unknown / Non-Applicable,-1,False,$79K,$133K,$106.0K
438,Data Scientist,$79K-$133K,Title Data Scientist Location Remote Duration ...,-1.0,"Blue Icy Water, LLC",United States,"Livonia, MI",1 to 50 employees,-1,Company - Private,-1,-1,Unknown / Non-Applicable,-1,False,$79K,$133K,$106.0K
440,Data Scientist,$79K-$133K,"Data Scientist Sonde Health, a Boston based d...",-1.0,Sonde Health,"Boston, MA","Boston, MA",1 to 50 employees,-1,Private Practice / Firm,Health Care Services & Hospitals,Health Care,Less than $1 million (USD),-1,False,$79K,$133K,$106.0K
457,Data Scientist,$69K-$116K,Work in a fast growing startup with unlimited ...,-1.0,Stride Search,"San Francisco, CA","Westlake Village, CA",1 to 50 employees,-1,Company - Private,-1,-1,Less than $1 million (USD),-1,False,$69K,$116K,$92.5K
459,Data Scientist,$69K-$116K,We are looking for a highly motivated data sci...,-1.0,Blue Cloak LLC,"Sterling, VA",-1,-1,-1,-1,-1,-1,-1,-1,False,$69K,$116K,$92.5K
495,Data Scientist,$95K-$119K,Job Overview: The Data Scientist is a key memb...,-1.0,Hatch Data Inc,"San Francisco, CA",-1,-1,-1,-1,-1,-1,-1,-1,False,$95K,$119K,$107.0K
496,Data Scientist,$95K-$119K,Job Overview: The Data Scientist is a key memb...,-1.0,Hatch Data Inc,"San Francisco, CA",-1,-1,-1,-1,-1,-1,-1,-1,False,$95K,$119K,$107.0K
497,Data Scientist,$95K-$119K,Job Overview: The Data Scientist is a key memb...,-1.0,Hatch Data Inc,"San Francisco, CA",-1,-1,-1,-1,-1,-1,-1,-1,False,$95K,$119K,$107.0K
498,Data Scientist,$95K-$119K,Job Overview: The Data Scientist is a key memb...,-1.0,Hatch Data Inc,"San Francisco, CA",-1,-1,-1,-1,-1,-1,-1,-1,False,$95K,$119K,$107.0K
499,Data Scientist,$95K-$119K,Job Overview: The Data Scientist is a key memb...,-1.0,Hatch Data Inc,"San Francisco, CA",-1,-1,-1,-1,-1,-1,-1,-1,False,$95K,$119K,$107.0K
500,Data Scientist,$95K-$119K,Job Overview: The Data Scientist is a key memb...,-1.0,Hatch Data Inc,"San Francisco, CA",-1,-1,-1,-1,-1,-1,-1,-1,False,$95K,$119K,$107.0K
504,Data Scientist,$95K-$119K,Job Description Working at Sophinea Sophinea ...,-1.0,Sophinea,"Chantilly, VA",-1,1 to 50 employees,-1,Unknown,-1,-1,Unknown / Non-Applicable,-1,False,$95K,$119K,$107.0K
519,"Scientist / Group Lead, Cancer Biology",$212K-$331K,"Scientist / Group Lead, Cancer Biology Locatio...",-1.0,Monte Rosa Therapeutics,"Cambridge, MA",-1,-1,-1,-1,-1,-1,-1,-1,False,$212K,$331K,$271.5K
524,Data Scientist,$212K-$331K,CompuForce is seeking an experienced and highl...,-1.0,CompuForce,"New York, NY","New York, NY",Unknown,-1,Company - Private,-1,-1,Unknown / Non-Applicable,-1,False,$212K,$331K,$271.5K
555,Data Scientist,$128K-$201K,"Job Description As a Data Scientist, you will ...",-1.0,HireAi,"San Francisco, CA",-1,-1,-1,-1,-1,-1,-1,-1,False,$128K,$201K,$164.5K
568,Data Scientist,$128K-$201K,"At Kibo, we provide cloud commerce solutions i...",-1.0,Kibo,"Philadelphia, PA","Marbella, Spain",Unknown,-1,Company - Public,-1,-1,Unknown / Non-Applicable,-1,False,$128K,$201K,$164.5K
613,Data Scientist,$87K-$141K,DESCRIPTION GrainBridge is seeking a talented...,-1.0,"GrainBridge, LLC","Omaha, NE",-1,-1,-1,-1,-1,-1,-1,-1,False,$87K,$141K,$114.0K
615,Data Scientist,$87K-$141K,Position Description Sprezzatura seeks a Data...,-1.0,Sprezzatura Management Consulting,"Washington, VA","McLean, VA",Unknown,-1,Company - Private,-1,-1,Unknown / Non-Applicable,-1,False,$87K,$141K,$114.0K
637,Data Scientist,$92K-$155K,Job Description Working at Sophinea Sophinea ...,-1.0,Sophinea,"Chantilly, VA",-1,1 to 50 employees,-1,Unknown,-1,-1,Unknown / Non-Applicable,-1,False,$92K,$155K,$123.5K
650,"Scientist / Group Lead, Cancer Biology",$92K-$155K,"Scientist / Group Lead, Cancer Biology Locatio...",-1.0,Monte Rosa Therapeutics,"Cambridge, MA",-1,-1,-1,-1,-1,-1,-1,-1,False,$92K,$155K,$123.5K
656,Data Scientist,$105K-$167K,Join our team dedicated to developing and exec...,-1.0,Berico Technologies,"Fort Belvoir, VA",-1,-1,-1,-1,-1,-1,-1,-1,False,$105K,$167K,$136.0K
657,Data Scientist,$105K-$167K,"Overview Good people, working with good peopl...",-1.0,Kehe Food Distributors,"Naperville, IL",-1,-1,-1,-1,-1,-1,-1,-1,False,$105K,$167K,$136.0K
660,Data Scientist,$105K-$167K,"Location: Redmond, WA Client: Microsoft (Un-Ma...",-1.0,Pactera Edge,"Redmond, WA",-1,-1,-1,-1,-1,-1,-1,-1,False,$105K,$167K,$136.0K
664,Data Scientist,$105K-$167K,Job Description Clear Ridge has an exciting op...,-1.0,Clear Ridge Defense,"Quantico, VA","Baltimore, MD",1 to 50 employees,-1,Company - Private,-1,-1,Unknown / Non-Applicable,-1,False,$105K,$167K,$136.0K
668,Data Scientist,$105K-$167K,Job Description Become a thought leader within...,-1.0,JKGT,"San Francisco, CA",-1,-1,-1,-1,-1,-1,-1,-1,False,$105K,$167K,$136.0K
669,Data Scientist,$105K-$167K,Join a thriving company that is changing the w...,-1.0,AccessHope,"Irwindale, CA",-1,-1,-1,-1,-1,-1,-1,-1,False,$105K,$167K,$136.0K

In [ ]:
# is there a company whose rating is available at a place but -1 at another place?
avai=jobs[]